h1,h2,h3{
    @include titles;
    color:$blue;
}
h1:first-of-type{
    margin-top:150px;
}
h2{
    font-size: 18px;
}
h3{
    font-size: 16px;
    color:$yellow;
}
p{ 
    @include paragraphs;
}
li{
    @include paragraphs;
}
table th{
    font-family: $font-family-titles;
}
table td{
    @include paragraphs;
}


table img.fav{
width: 108%;
}
table img.alt{
    width: 100%;
    }

table.smartphoneVisuals td, table.smartphoneVisuals th,
table.smartwatchWireflow td, table.smartwatchWireflow th,
table.smartwatchVisuals td, table.smartwatchVisuals th {
        border: none !important;
    }
table.tableIntro td,
table.tableIntro th{
    border-color: $orange;
}
table.tableIntro th{
    border-top: none;
}
table.tableIntro{
    margin-top: 50px;
}

table.smartphoneVisuals thead,
table.smartwatchWireflow thead,
table.smartwatchVisuals thead{
      color: transparent;
    }
table.smartphoneVisuals img, 
table.smartwatchWireflow img,
{
    width: 100%;
    height: 100%;
}
table.smartwatchVisuals img{
    width: 100%;
}

.subtitle{
    @include titles;
    color: $blue;
    font-size: 16px;
   margin-top:40px;
   font-kerning: 10%;
}

hr {
    border-top:5px solid $blue;
}