h1,h2,h2{
    color: $blue;
}
table img.fav{
width: 108%;
}
table img.alt{
    width: 100%;
    }
table.smartphoneVisuals img{
    width: 100%;
}
table.smartwatchWireflow img{
    width: 100%;
}
table.smartwatchVisuals img{
    width: 100%;
}